body{
    text-align: center;
}

.logo
{
    float: left;
}


nav
{
    float: right;
    margin-right: 4vw;
}

ul li
{
    list-style: none;
    display: inline-block;
}

nav ul li a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 2vw;
}

.body
{
    margin-top: 4vw;
}

.body p
{
    width: 60%;
    margin-left: 20%;
}

table
{
    width: 70%;
    margin-left: 15%;
}

table th
{
    padding: 1vw;
    background-color: rgb(8, 119, 119);
    color: white;
}

td
{
    padding: 0.5vw;
}


fieldset
{
    width: 70%;
    margin-left: 15%;
    text-align: left;
}

fieldset  *
{
    margin-left: 10%;
}

label
{
    font-weight: bold;
}

fieldset form input[type="text"]
{
    width: 70%;
    height: 2vw;
}

fieldset form input[type="radio"]
{
    width: 10%;
    height: 1vw;
}

fieldset form button
{
    width: 30%;
    height: 3vw;
    background-color: rgb(8, 119, 119);
    color: white;
    border: 0;
    border-radius: 5px;
}

.search
{
    width: 70%;
    margin-left: 15%;
}

.search input 
{
    width: 30%;
    height: 2vw;
}

.search select
{
    width: 30%;
    height: 2.3vw;
}

.search button
{
    width: 20%;
    height: 2.4vw;
    margin-left: 1vw;
    background-color: rgb(8, 119, 119);
    color: white;
    border: 0;
    border-radius: 5px;
}

.tache a
{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    margin-left: 2vw;
    width: 20%;
    height: 2vw;
    background-color: rgb(8, 119, 119);
    color: white;
    padding: 1vw;
    border-radius: 15px;
}

.texte
{
    width: 100%;
}

.texte p
{
    width: 50%;
    margin-left: 25%;
}

.gerer
{
    width: 30%;
    height: 2vw;
    background-color:  rgb(8, 119, 119);
    border-radius: 5px;
    border: 0;
}